/*Capçalera y peu de pàgina del projecte*/
header, footer, nav{
    background-color: rgb(55, 53, 53);
}
section{
    margin: 3rem 0;
}

footer{
    text-align: center;
}

/*CV: color de fons per les diferents seccions*/
section.divisio:nth-child(2n+1){
    background-color: rgb(205, 201, 201);
}

/*Característiques generals de les etiquetes*/
h2{
    text-align: center;
    font-weight: bold;
}
table, th, td{
    margin-left: 500px; 
    border: 1px solid;
    text-align: center;
}

/*Menú*/
nav .menu{
    float: right;
}
.menu_img img{
    width: 1em;
    padding: 1em 1em;
    float: left;
}
.menu ul{
    list-style: none; 
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    color:white;
    padding: 1em 1em;
    text-decoration: none;
}

/*Capçalera */
.text_imatge{
    position: absolute;
}
.cap{
    position: relative;
    width: 100%;
    height: 250px
}
.cap img{
    width: 100%;
    height: 100%;
}
.cap>h1{
    font-size: 3em;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 12px black;
}

/*Logos peu de pàgina*/
.logos img{
    width: 2rem;
}

/*Sumari*/
.sumari{
    text-align: center;
}
.sumari ul {
    list-style: none;
 }
 .sumari ul li{
    display: inline-block;
 }
 .sumari ul li a{
     padding: 1em 1em;
 }
 .sumari li img{
    width: 1.5rem;
    position: absolute;
    transform: translate(-25%, -70%);
 }

/*Dades personals*/
.dades_personals>p{
    text-align: left;
    margin-left: 300px;
}
.fotografia{
    position: absolute;
    transform: translate(600%, -120%);
}
.fotografia img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/*Marge de les seecions amb ul li*/

.llista ul li {
    margin-left: 150px;
    
}




